<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76b067">  <td>18/11/05 12:25:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComplainTest.closeBrowser()[pri:0, instance:com.sonata.tests.ComplainTest@306279ee]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>18/11/05 12:27:39</td>   <td>132837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComplainTest.closeBrowser()[pri:0, instance:com.sonata.tests.ComplainTest@306279ee]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>18/11/05 12:29:40</td>   <td>253680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComplainTest.closeBrowser()[pri:0, instance:com.sonata.tests.ComplainTest@306279ee]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>18/11/05 12:25:31</td>   <td>4188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComplainTest.createComplaintCaseWithDefault()[pri:2, instance:com.sonata.tests.ComplainTest@306279ee]">createComplaintCaseWithDefault</td> 
  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>18/11/05 12:23:46</td>   <td>-100632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComplainTest.createComplaintCaseWithSensitive()[pri:1, instance:com.sonata.tests.ComplainTest@306279ee]">createComplaintCaseWithSensitive</td> 
  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>18/11/05 12:27:44</td>   <td>137975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComplainTest.reopenComplaintFieldVerfication()[pri:3, instance:com.sonata.tests.ComplainTest@306279ee]">reopenComplaintFieldVerfication</td> 
  <td>main@230528013</td>   <td></td> </tr>
</table>
