<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>C4C</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76b067">  <td>18/11/05 13:09:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;HomeTest.launch()[pri:0, instance:com.sonata.tests.HomeTest@545997b1]">&gt;&gt;launch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2015868322</td>   <td></td> </tr>
<tr bgcolor="e88894">  <td>18/11/05 13:09:01</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComplainTest.createComplaintCaseWithSensitive()[pri:1, instance:com.sonata.tests.ComplainTest@543788f3]">createComplaintCaseWithSensitive</td> 
  <td>TestNG-tests-2@1169572193</td>   <td></td> </tr>
<tr bgcolor="8b976c">  <td>18/11/05 13:09:01</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RecommendationsTest.createComplaintCaseWithDefault()[pri:1, instance:com.sonata.tests.RecommendationsTest@5a4041cc]">createComplaintCaseWithDefault</td> 
  <td>TestNG-tests-3@1579927094</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>18/11/05 13:09:48</td>   <td>46350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.homePage()[pri:0, instance:com.sonata.tests.HomeTest@545997b1]">homePage</td> 
  <td>TestNG-tests-1@2015868322</td>   <td></td> </tr>
<tr bgcolor="76b067">  <td>18/11/05 13:10:23</td>   <td>81818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomeTest.closeBrowser()[pri:0, instance:com.sonata.tests.HomeTest@545997b1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@2015868322</td>   <td></td> </tr>
<tr bgcolor="8b976c">  <td>18/11/05 13:11:07</td>   <td>125599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RecommendationsTest.closeBrowser()[pri:0, instance:com.sonata.tests.RecommendationsTest@5a4041cc]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1579927094</td>   <td></td> </tr>
<tr bgcolor="e88894">  <td>18/11/05 13:12:39</td>   <td>217257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComplainTest.closeBrowser()[pri:0, instance:com.sonata.tests.ComplainTest@543788f3]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1169572193</td>   <td></td> </tr>
<tr bgcolor="e88894">  <td>18/11/05 13:12:42</td>   <td>220845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComplainTest.createComplaintCaseWithDefault()[pri:2, instance:com.sonata.tests.ComplainTest@543788f3]">createComplaintCaseWithDefault</td> 
  <td>TestNG-tests-2@1169572193</td>   <td></td> </tr>
<tr bgcolor="e88894">  <td>18/11/05 13:14:17</td>   <td>316093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComplainTest.closeBrowser()[pri:0, instance:com.sonata.tests.ComplainTest@543788f3]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1169572193</td>   <td></td> </tr>
<tr bgcolor="e88894">  <td>18/11/05 13:14:21</td>   <td>319899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComplainTest.reopenComplaintFieldVerfication()[pri:3, instance:com.sonata.tests.ComplainTest@543788f3]">reopenComplaintFieldVerfication</td> 
  <td>TestNG-tests-2@1169572193</td>   <td></td> </tr>
<tr bgcolor="e88894">  <td>18/11/05 13:15:40</td>   <td>398876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComplainTest.closeBrowser()[pri:0, instance:com.sonata.tests.ComplainTest@543788f3]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1169572193</td>   <td></td> </tr>
</table>
